.nav-item {
  display: inline-block;
}

.nav-link {
  color: var(--clr-text) !important;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 20px;
}

.nav-link,
.nav-link:after,
.nav-link:before {
  transition: all .3s;
}

.nav-link:hover {
  color: #0fff60;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #0fff60;
  height: 1px;
}

.nav-link:hover:after {
  width: 100%;
}

.info {
  width: 25px;
  
}

.info:hover {
  cursor: pointer;
}