.video-background .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.video-background .loop {
    opacity: 0;
    z-index: -1;
}

.divider {
    border-bottom: 1px solid var(--clr-dim);
}
